.left-drawer{
    display: flex;
    width: 8vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: calc(100vh - 97px);
    box-sizing: border-box;
}
.left-drawer Button{
    width: 7.5vw;
    margin: 3px;
    height: 50px;
    padding: 5px;
}
.left-nav{
    width: 8vw;

}

.menu-fitting{
    height: calc(100vh - 97px);


}
.content{
    height: calc(100vh - 97px);

}
.me-2{
    width: 600px;
}

